body{
    font-family: "Calibri";
}

#content, #outerbox, #comment, #cmcontainner{
    margin: 0px auto;
    float: none;
    display: table;
}

#menu, #search{
    text-align: right;
}

hr{
    width: 70%;
}



